
<h2 style="margin-top: 15px">Sitio de futbol internacional femenino</h2>
      En este sitio web ofrece información sobre  equipos, contrataciones y jugadoras inscritos en el Sistema de la FIFA
  </p>
    <ul>
      <li> <a href='https://contratos-tarea5.netlify.app'>
           Información de contratos</a></li>
      <li> <a href='https://equipos-tarea5.netlify.app'>
           Información de equipos</a></li>
      <li> <a href='https://jugadoras-tarea5.netlify.app'>
           Información de jugadoras</a></li>
    </ul>